<%= component_controller do %> 
  <p> 
    <span class="label">Ingredients</span>
    <div class="field has-addons">
      <p class="control">
        <input data-autocomplete-source="/ingredients" type="text" name="ingredient" id="ingredient" class="input">
      </p>
      <p class="control">
      <a href="#" id="add-ingredient-button"
                  class="button is-primary" 
                  data-reflex="click->ManageMealIngredientsComponent#add_ingredient"
                  data-meal_id="<%=@meal.id%>"
                  data-ingredient_id=""
                  data-ingredient_term=""
                  data-key=<%= key %>
                  > Add </a>
      </p>
    </div>

    <table class="table mt-3">
      <tbody>
        <% @meal.ingredients.each do |ingredient| %>
          <tr>
            <td><%=ingredient.name%></td>
            <td>
              <a href="#" class="button is-small is-primary" data-reflex="click->ManageMealIngredientsComponent#remove_ingredient"
                                          data-meal_id="<%=@meal.id%>"
                                          data-ingredient_id="<%=ingredient.id%>"
                                          data-key=<%= key %>
                                        > Remove </a>

           </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
<% end %>
