<%= component_controller do %>
  <div>
    <h1 class="title is-2">Ingredients</h1>
    <div>
      <input data-autocomplete-source="/ingredients" type="text" name="ingredient" id="ingredient" class="input">
    </div>
    <a href="#" id="add-ingredient-button" class="button is-primary" data-reflex="click->ManageMealIngredientsComponent#add_ingredient"
                                          data-meal_id="<%=@meal.id%>"
                                          data-ingredient_id=""
                                          data-key=<%= key %>
                                        > Add </a>

    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @meal.ingredients.each do |ingredient| %>
          <tr>
            <td><%=ingredient.name%></td>
            <td>
              <a href="#" class="button is-primary" data-reflex="click->ManageMealIngredientsComponent#remove_ingredient"
                                          data-meal_id="<%=@meal.id%>"
                                          data-ingredient_id="<%=ingredient.id%>"
                                          data-key=<%= key %>
                                        > Remove </a>

           </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
