<div id="<%="scheduled_meal_#{@schedule_date.strftime('%F')}"%>" class="p-1">
  <div class="box has-background-success-light">
  <h5 class="title is-5"> <%= "For #{@schedule_date.strftime('%A')}"%></h5>
    <div class="pb-3"><%= link_to(@scheduled_meal.meal.name, @scheduled_meal.meal, class: "is-size-5") %> </div>
    <% if @scheduled_meal.meal.recipe_url.present? %>
      <div class="pb-3"> <%= link_to "View Recipe", @scheduled_meal.meal.recipe_url %> </div>
    <% end %>
    <div>
      <%= link_to('Change', edit_scheduled_meal_path(@scheduled_meal.id), class: "button is-primary") %>
      <a href="#" class="button is-primary" data-controller="scheduled-meals"
                                            data-confirm="Are you sure you want to drop?"
                                            data-action="confirm:complete->scheduled-meals#remove"
                                            data-date="<%=@scheduled_meal.date %>"
                                            data-scheduled_meal_id="<%=@scheduled_meal.id%>"
                                            data-reflex-root="#<%="scheduled_meal_#{@scheduled_meal.date.strftime('%F')}"%>"
                                            > Drop </a>

      <a href="#" class="button is-primary" data-controller="scheduled-meals"
                                            data-confirm="Are you sure you want to push out?"
                                            data-action="confirm:complete->scheduled-meals#push_out"
                                            data-date="<%=@scheduled_meal.date %>"
                                            > Push </a>
    </div>
  </div>
</div>
