<%= component_controller do %> 
  <div class="shopping-list-details">
    <div class="level is-mobile">
      <div class="level-item">
        <a href="#" class="button is-link is-small"
                    id="order_shopping_list_button"
                    data-reflex="click->ShoppingListDetailsComponent#sort_shopping_list"
                    data-sort_by="<%= @sort_by %>"
                    data-key=<%= key %>

                  > Sort by <%= @sort_by %></a>
      </div>
    </div>
    <%=render(ShoppingListItemComponent.with_collection(@shopping_list_items.all)) %>
  </div>
<% end %>
