<%= component_controller do %> 
  <div class="level" id="shopping-list-header">
    <% if @shopping_list_end_date %>
      <div class="level-left">
        <div class="level-item has-text-weight-bold"> Thru <%= @shopping_list_end_date%> </div>
      </div>
    <% else %>
      <div class="level-item has-text-centered"> Looks like you need a list. Click Create list and a list will be created from the meals you've scheduled.
      </div>
    <% end %>
    <div class="level-right">
      <% if @is_shopping_list_present %>
        <div class="level-item">
          <a href="#" class="button is-primary is-small is-pulled-right"
                      id="reset_shopping_list_button"
                      data-controller="shopping-lists"
                      data-action="confirm:complete->shopping-lists#clear_shopping_list"
                      data-confirm="Are you sure?"
                      data-key=<%= key %>
                    > Clear List </a>
        </div>
      <% end %>
      <% if !@is_shopping_list_present %>
        <div class="level-item">
          <a href="#" class="button is-primary is-small is-pulled-right"
                      id="create_shopping_list_button"
                      data-reflex="click->ShoppingListHeaderComponent#create_shopping_list"
                      data-key=<%= key %>
                    > Create List </a>
        </div>
      <% elsif @is_shopping_list_present && !@is_shopping_list_current %>
        <div class="level-item">
          <a href="#" class="button is-primary is-small is-pulled-right"
                      id="update_shopping_list_button"
                      data-reflex="click->ShoppingListHeaderComponent#update_shopping_list"
                      data-key=<%= key %>
                    > Update List </a>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
