<% provide :title, "Home" %>

<% @meals.each do |meal| %>
  <div id="<%="scheduled_meal_#{meal[0].schedule_date.strftime('%F')}"%>" class=box>
    <h5 class="title is-5"> <%= "For #{meal[0].schedule_date.strftime('%A')}"%></h5>
    <% if meal[0].meal_id %>
      <div class="pb-3"><%= meal[0].meal_name %> </div>
      <div>
        <%= link_to('Change', edit_scheduled_meal_path(meal[0].id), class: "button is-primary") %>
        <a href="#" class="button is-primary" data-controller="scheduled-meals"
                                              data-confirm="Are you sure?"
                                              data-action="confirm:complete->scheduled-meals#remove_scheduled_meal"
                                              data-scheduled_meal_id="<%=meal[0].id%>"
                                              data-reflex-root="#<%="scheduled_meal_#{meal[0].schedule_date.strftime('%F')}"%>"
                                              > Drop </a>
      </div>
    <% else %>
      <div class="pb-3">Nothing is planned.</div>
      <div class="pb-3">How about <%= meal[1].name %></div>
      <div>
          <a href="#" class="button is-primary" data-reflex="click->MealReflex#attach_suggested_meal"
                                                data-date="<%=meal[0].schedule_date.strftime('%F') %>"
                                                data-meal_id="<%=meal[1].id%>"
                                                data-reflex-root="#<%="scheduled_meal_#{meal[0].schedule_date.strftime('%F')}"%>"
                                                > Schedule </a>
          <%= link_to('Lookup', new_scheduled_meal_path(date: meal[0].schedule_date.strftime('%F')), class: "button is-primary") %>
          <a href="#" class="button is-primary" data-reflex="click->MealReflex#reload_suggested_meal"
                                                data-reflex-root="#<%="scheduled_meal_#{meal[0].schedule_date.strftime('%F')}"%>"
                                                > <span class="icon"> <i class="fa fa-refresh"></i> </span> </a>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to "Past Meals", root_path(start_date: @past_start_date), class: "button is-link" %>
<%= link_to "Future Meals", root_path(start_date: @future_start_date), class: "button is-link" %>

