<br/>
<%= form_with model: @scheduled_meal do |form| %>
  <% if @scheduled_meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scheduled_meal.errors.count, "error") %> prohibited this scheduled_meal from being saved:</h2>
      <ul>
      <% @scheduled_meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field(:date, value: @scheduled_meal.date) %>
  <div class="ui-widget">
    <input data-autocomplete-source="/meals" type="text" name="meal" id="meal" class="input">
  </div>
  <%= form.hidden_field(:meal_id) %>
  <%= form.submit "Save Meal", class:"button is-small is-primary"%>
<% end %>
<br/>
