<br/>
<%= form_with model: @scheduled_meal, local: true, html: { autocomplete: "off" } do |form| %>
  <% if @scheduled_meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scheduled_meal.errors.count, "error") %> prohibited this scheduled_meal from being saved:</h2>
      <ul>
      <% @scheduled_meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field(:date, value: @scheduled_meal.date) %>
  <%= form.hidden_field(:meal_id) %>
  <div class="field has-addons">
    <p class="control">
      <input data-autocomplete-source="/meals" type="text" name="meal" id="meal" class="input">
    </p>
    <p class="control">
    <%= form.submit "Save Meal", class:"button is-primary"%>
    </p>
  </div>
<% end %>
<br/>
