<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @scheduled_meal.meal %>
</p>

<p>
  <strong>Date:</strong>
  <%= @scheduled_meal.date %>
</p>

<p>
  <strong>Meal type:</strong>
  <%= @scheduled_meal.meal_type %>
</p>

<%= link_to 'Edit', edit_scheduled_meal_path(@scheduled_meal) %> |
<%= link_to 'Back', scheduled_meals_path %>
