<h1> Add a new schedule </h1>
<%= form_with model: @schedule do |form| %>
  <%= label_tag(:start_date, "Start Date") %>
  <%= form.date_field(:start_date) %>
  <%= label_tag(:end_date, "Start Date") %>
  <%= form.date_field(:end_date) %>
  <%= label_tag(:default_participant_count, "Default Participant Count") %>
  <%= form.text_field(:default_participant_count) %>
  <%= label_tag(:populate_schedule, "Populate Schedule") %>
  <%= form.check_box(:populate_schedule) %>
  <%= form.submit "Create" %>
<% end %>
