<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @schedule.start_date%>
  <strong>End:</strong>
  <%= @schedule.end_date%>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
