<%= form_with(model: ingredient, local: true) do |form| %>
  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
        <% ingredient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :ingredient_category, class: "label" %>
    <div class="control">
      <div class="select">
        <%= form.select :ingredient_category_id, options_from_collection_for_select(@ingredient_categories, :id, :name, selected: ingredient.ingredient_category_id), {include_blank: true} %>
      </div>
    </div>
  </div>

  <% if current_user.user_type == 'admin' %>
    <div class="field">
      <div class="control">
      <%= form.label :global_ingredient?, class: "checkbox" %>
        <%= form.check_box :global_ingredient, class: "checkbox" %>
      </div>
    </div>
  <% end %>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Save Ingredient</button>
    </div>
    <div class="control">
      <%= link_to 'Cancel', ingredients_path, class: "button is-link is-light" %>
    </div>
  </div>
<% end %>
