<p id="notice"><%= notice %></p>

<h2 class="subtitle is-2">Ingredients</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
        <% if current_user.user_type == 'admin'%>
          <th>Global</th>
        <% end %>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= link_to ingredient.name, ingredient %></td>
        <% if current_user.user_type == 'admin'%>
          <td><%= ingredient.global? ? 'Yes' : 'No'  %></td>
        <% end %>
        <% if current_user.user_type == 'admin' || ingredient.user == current_user%>
          <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
        <% end %>
        <% if current_user.user_type == 'admin' || ingredient.user == current_user%>
          <td><%= link_to 'Remove', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_ingredient_path %>
