<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Ingredient Category:</strong>
  <% if @ingredient.ingredient_category %>
    <%= @ingredient.ingredient_category.name %>
  <% else %>
    Not Specified
  <% end %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
