<%= form_with(model: ingredient_category, local: true) do |form| %>
  <% if ingredient_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ingredient_category.errors.count, "error") %> prohibited this ingredient_category from being saved:</h2>

      <ul>
        <% ingredient_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :icon_identifier, class: "label" %>
    <%= form.text_field :icon_identifier, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :accent_color, class: "label" %>
    <%= form.text_field :accent_color, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-small is-primary" %>
  </div>
<% end %>
