<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient_category.name %>
</p>

<p>
  <strong>Icon identifier:</strong>
  <%= @ingredient_category.icon_identifier%>
  <i class="<%= @ingredient_category.icon_identifier %>"></i>
</p>

<p style="background-color: <%= @ingredient_category.accent_color %>;">
  <strong>Accent Color:</strong>
  <%= @ingredient_category.accent_color%>
</p>
<%= link_to 'Edit', edit_ingredient_category_path(@ingredient_category) %> |
<%= link_to 'Back', ingredient_categories_path %>
