<% provide :title, @meal.name %>
<h2 class="subtitle is-2">
  <%=@meal.name %>
</h2>

<% if @meal.recipe_url %>
  <p class="mb-3">
  <span class="label"> Recipe</span> <%= link_to @meal.recipe_url, @meal.recipe_url %> 
  </p>
<% end %>

<div id="meal-ingredients">
<% if current_user.user_type == 'admin' or @meal.user == current_user %>
  <%= render(ManageMealIngredientsComponent.new(@meal, current_user)) %>
<% else %>
  <%= render(MealIngredientsComponent.new(@meal)) %>
<% end %>
</div>

<div class="tags">
<% @meal.tags.each do |tag| %>
  <span class="tag is-primary">
    <%= tag.name %>
    <% if current_user.user_type == 'admin' %>
      <%= button_to [:meals_untag], class: "delete is-small", method: :delete, params: {meal_id: @meal.id, tag_id: tag.id}, data: { confirm: 'Are you sure?' } do %>
      <% end %>
    <% end %>
  </span>
<% end %>
</div>

<% if current_user.user_type == 'admin' %>
  <%= form_with(url: "/meals/tag", method: "post") do %>
    <%= hidden_field_tag(:meal_id, @meal.id) %>
    <div class="field">
      <label class="label">Tag</label>
      <div class="control">
        <div class="select">
          <%= select_tag(:tag_id, options_from_collection_for_select(@tags, 'id', 'name'))%>
        </div>
      </div>
    </div>
    <div class="field">
      <%= submit_tag("Add Tag", class: "button is-link") %>
    </div>
  <% end %>
<% end %>

<br>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
